modules/periodaveragemodule/configs/periodaveragemodule.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="measuretype">
        <xs:sequence>
            <xs:element name="channels">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="n" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="8"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ch1" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="ch2" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch3" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch4" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch5" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch6" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch7" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ch8" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="measureintervaltype">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="10"/>
            <xs:maxInclusive value="25"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="periodicaveragemodconfpar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configuration">
                    <xs:complexType>
                        <xs:sequence>
                             <xs:element name="measure" type="measuretype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="measperiods" type="measureintervaltype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema> 

