modules/rangemodule/configs/rangemodule.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="yesnotype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='1'/>
            <xs:minInclusive value='0'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="debugtype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='7'/>
            <xs:minInclusive value='0'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="porttype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='60000'/>
            <xs:minExclusive value='1024'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="ipadresstype">
        <xs:restriction base="xs:string">
            <xs:pattern value = '(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)'/>
        </xs:restriction>
    </xs:simpleType>

	
    <xs:complexType name="connectivitytype">
        <xs:sequence>
            <xs:element name="session" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="debuglevel" type="debugtype"/>
            <xs:element name="ethernet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resourcemanager">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ip" type="ipadresstype"/>
                                    <xs:element name="port" type="porttype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="pcbserver">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ip" type="ipadresstype"/>
                                    <xs:element name="port" type="porttype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="dspserver">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ip" type="ipadresstype"/>
                                    <xs:element name="port" type="porttype"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="channeltype">
        <xs:sequence>
            <xs:element name="n" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ch1" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ch2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch4" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch5" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch6" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch7" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch8" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch9" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch12" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="subdctype">
        <xs:sequence>
            <xs:element name="n" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ch1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch4" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch5" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch6" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch7" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch8" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch9" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch12" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="onegroup">
        <xs:sequence>
            <xs:element name="n" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="12"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ch1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch4" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch5" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch6" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch7" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch8" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch9" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ch12" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
	
	
    <xs:complexType name="grouptype">
        <xs:sequence>
            <xs:element name="n" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="gr1" type="onegroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gr2" type="onegroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gr3" type="onegroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gr4" type="onegroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gr5" type="onegroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gr6" type="onegroup" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="measureintervaltype">
        <xs:sequence>
            <xs:element name="interval" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0.1"/>
                            <xs:maxInclusive value="5.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="adjustintervaltype">
        <xs:sequence>
            <xs:element name="interval" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.5"/>
                        <xs:maxInclusive value="5.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ignoreRmsValues" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="enable" type="yesnotype" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="threshold" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:minInclusive value="0.0"/>
                                    <xs:maxInclusive value="2.0"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="parametersensechanneltype">
        <xs:sequence>
            <xs:element name="range" type="xs:string"/>
            <xs:element name="invert" type="yesnotype"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="parametersensetype">
        <xs:sequence>
            <xs:element name="m0" type="parametersensechanneltype" minOccurs="1" maxOccurs="1"/>
            <xs:element name="m1" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m2" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m3" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m4" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m5" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m6" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m7" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m8" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m9" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m10" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m11" type="parametersensechanneltype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="grouping" type="yesnotype" minOccurs="1" maxOccurs="1"/>
            <xs:element name="rangeauto" type="yesnotype" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
	

    <xs:element name="rangemodconfpar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configuration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="connectivity" type="connectivitytype"/>
                            <xs:element name="sense">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="channel" type="channeltype"/>
                                    <xs:element name="subdc" type="subdctype"/>
                                    <xs:element name="group" type="grouptype"/>
                                </xs:sequence>
                            </xs:complexType>
                            </xs:element>
                            <xs:element name="measure" type="measureintervaltype"/>
                            <xs:element name="adjustment" type="adjustintervaltype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sense" type="parametersensetype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema> 

