modules/statusmodule/configs/statusmodule.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="yesnotype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='1'/>
            <xs:minInclusive value='0'/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="veinupdatemstype">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="250"/>
            <xs:maxInclusive value="2000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="statusmodconfpar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configuration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="accumulator" type="yesnotype"/>
                            <xs:element name="veinupdatems" type="veinupdatemstype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema> 

