modules/power1module/configs/power1module.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="yesnotype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='1'/>
            <xs:minInclusive value='0'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="porttype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='60000'/>
            <xs:minExclusive value='1024'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="ipadresstype">
        <xs:restriction base="xs:string">
            <xs:pattern value = '(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)'/>
        </xs:restriction>
    </xs:simpleType>

	
    <xs:complexType name="connectivitytype">
        <xs:sequence>
            <xs:element name="ethernet">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="resourcemanager">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ip" type="ipadresstype"/>
                                <xs:element name="port" type="porttype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="pcbserver">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ip" type="ipadresstype"/>
                                <xs:element name="port" type="porttype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="dspserver">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="ip" type="ipadresstype"/>
                                <xs:element name="port" type="porttype"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="measuringmodeType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="4LW"/>
        <xs:enumeration value="4LB"/>
        <xs:enumeration value="4LBK"/>
        <xs:enumeration value="4LS"/>
        <xs:enumeration value="4LSg"/>
        <xs:enumeration value="3LW"/>
        <xs:enumeration value="3LB"/>
        <xs:enumeration value="2LW"/>
        <xs:enumeration value="2LB"/>
        <xs:enumeration value="2LS"/>
        <xs:enumeration value="2LSg"/>
        <xs:enumeration value="QREF"/>
      </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="integrationmodeType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="time"/>
        <xs:enumeration value="period"/>
      </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="movingwindowintervaltype">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.1"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="movingwindowtype">
        <xs:sequence>
            <xs:element name="on" type="yesnotype"/>
            <xs:element name="time" type="movingwindowintervaltype"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="pmsType">
      <xs:restriction base="xs:string">
        <xs:enumeration value="pms1"/>
        <xs:enumeration value="pms2"/>
        <xs:enumeration value="pms3"/>
        <xs:enumeration value="pmss"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="measureType">
        <xs:sequence>
            <xs:element name="modes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="n" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="16"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="m1" type="measuringmodeType" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="m2" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m3" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m4" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m5" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m6" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m7" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m8" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m9" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m10" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m11" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m12" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m13" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m14" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m15" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="m16" type="measuringmodeType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="system">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="pms1" type="xs:string" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="pms2" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="pms3" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disablephaseselect" type="yesnotype" minOccurs="0" maxOccurs="1"/>
            <xs:element name="integrationmode" type="integrationmodeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="movingwindow" type="movingwindowtype"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="foutxnameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fo0"/>
            <xs:enumeration value="fo1"/>
            <xs:enumeration value="fo2"/>
            <xs:enumeration value="fo3"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="foutxtypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="+-"/>
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="scalingType">
        <xs:sequence>
            <xs:element name="uscale" minOccurs="1" maxOccurs="1">
            	<xs:complexType>
            	<xs:sequence>
            		<xs:element name="inputentity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            		<xs:element name="inputcomponent" type="xs:string" minOccurs="1" maxOccurs="1"/>
     		</xs:sequence>
	        </xs:complexType>	
            </xs:element>
            <xs:element name="iscale" minOccurs="1" maxOccurs="1">
            	<xs:complexType>
            	<xs:sequence>
            		<xs:element name="inputentity" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            		<xs:element name="inputcomponent" type="xs:string" minOccurs="1" maxOccurs="1"/>
     		</xs:sequence>
	        </xs:complexType>	
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="foutxType">
        <xs:sequence>
            <xs:element name="name" type="foutxnameType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="source" type="pmsType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="type" type="foutxtypeType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="name_displayed" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scaling" type="scalingType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="frequencyoutputType">
        <xs:sequence>
            <xs:element name="frequency" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="20000"/>
                        <xs:maxInclusive value="1000000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="frequencyact" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="integrationtime"/>
                        <xs:enumeration value="signalperiod"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="output">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="n" minOccurs="1" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="4"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="fout1" type="foutxType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="fout2" type="foutxType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="fout3" type="foutxType" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="fout4" type="foutxType" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="measureintervalType">
        <xs:sequence>
            <xs:element name="time" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="0.1"/>
                        <xs:maxInclusive value="100.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="period" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="5"/>
                        <xs:maxInclusive value="5000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="modePhaseType">
        <xs:sequence>
            <xs:element name="n" minOccurs="1" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="16"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="m1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m4" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m5" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m6" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m7" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m8" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m9" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m10" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m11" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m12" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m13" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m14" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m15" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="m16" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="pow1modconfpar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configuration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="connectivity" type="connectivitytype"/>
                            <xs:element name="measure" type="measureType"/>
                            <xs:element name="frequencyoutput" type="frequencyoutputType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="measuringmode" type="measuringmodeType"/>
                            <xs:element name="modePhases" type="modePhaseType"/>
                            <xs:element name="interval" type="measureintervalType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema> 

