modules/thdnmodule/configs/thdnmodule.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="yesnotype">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value='1'/>
            <xs:minInclusive value='0'/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="movingwindowintervaltype">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.1"/>
            <xs:maxInclusive value="1.0"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="movingwindowtype">
        <xs:sequence>
            <xs:element name="on" type="yesnotype"/>
            <xs:element name="time" type="movingwindowintervaltype"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="thdtype">
        <xs:restriction base="xs:string">
            <xs:pattern value="[N,R]"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="measuretype">
        <xs:sequence>
            <xs:element name="movingwindow" type="movingwindowtype"/>
            <xs:element name="thd" type="thdtype"/>
        </xs:sequence>
    </xs:complexType>


    <xs:simpleType name="measureintervaltype">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.1"/>
            <xs:maxInclusive value="100.0"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:element name="thdnmodconfpar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="configuration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="measure" type="measuretype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="parameter">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="interval" type="measureintervaltype"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
	
</xs:schema> 

